* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

/* colors */
.dark-01 {
    color: rgba(19, 19, 19, 1);
}

.dark-03 {
    color: rgba(66, 66, 66, 1);
}

/* shared styles */
.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* header */
header {
    background-color: rgba(255, 144, 14, 0.1);
}

/* navigation bar */
nav {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    line-height: 53px;
    cursor: pointer;
}

nav ul {
    display: flex;
    gap: 40px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
}

/* responsive: small device */
@media screen and (max-width: 576px) {
    nav {
        padding-top: 20px;
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        gap: 30px;
    }
}

/* responsive: medium device */
@media screen and (min-width:577px) and (max-width:992px) {
    nav {
        padding-top: 20px;
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        gap: 30px;
    }
}